body{
    background-color: black;
}

.link{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.signIn-signUp-container{
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #ffa52f;
    align-items: center;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
    gap: 10px;
}